/*================================
ANIMATIONS
================================*/


.fade-in{

opacity:0;

transform:translateY(30px);

transition:all .8s ease;

}


.fade-in.show{

opacity:1;

transform:translateY(0);

}




.zoom-in{

opacity:0;

transform:scale(.9);

transition:.8s;

}



.zoom-in.show{

opacity:1;

transform:scale(1);

}